<div class="frame small">
  <h2>Login</h2>
</div>
<div class="frame small">
  <%= form_tag sessions_path do %>
    <%= label_tag :username %><br />
    <%= text_field_tag :username %><br /><br />
    <%= label_tag :password %><br />
    <%= password_field_tag :password %><br />
    <br />
    <%= submit_tag "Login" %>
  <% end %>
</div>
