<%= form_for [@course, @assignment] do |f| %>
  <% if @assignment.errors.any? %>
    <div id="error_explanation">
      <h3><%= @assignment.errors.full_messages.join(", ").downcase.capitalize %>.</h3>
    </div>
  <% end %>

  Instructor
  <% if @assignment.instructor_id %>
    : <%= @assignment.instructor.full_name %>
  <% else %>
    <%= f.fields_for :instructor do |i| %>
      <%= collection_select(:assignment, :instructor_id, User.where(role: :instructor), :id, :full_name) %>
    <% end %>
  <% end %>
  <br />
  <%= f.label :contract_fee %> 
  <%= f.number_field :contract_fee, min: 0, step: 1, placeholder: "£" %><br />
  <%= f.label :position %> 
  <%= f.select :position, [["Primary"], ["Secondary"], ["Assistant"]] %><br /><br />
  <%= f.submit "Submit" %>
<% end %>
<%= button_to "Back", course_path(@course), method: :get %>

