<ol>
  <% @course.enrollments.each do |enrollment| %>
    <li>
      <ul>
        <li>
          Student: <%= link_to "#{enrollment.student.first_name} #{enrollment.student.last_name}", user_path(enrollment.student) %>
        </li>
        <li>
          Username: <%= enrollment.student.username %>
        </li>
        <li>
          Paid deposit? <%= enrollment.paid_deposit ? "Yes" : "No" %>
        </li>
        <li>
          Completed the pre-work? <%= enrollment.pre_work %>
          <br /><br />
        </li>
        <li>
          <%= button_to "Edit", edit_course_enrollment_path(@course.id, enrollment), method: :get %>
          <%= button_to "Delete", delete_course_enrollment_path(@course.id, enrollment) %>
          <br /><br />
        </li>
      </ul>
    </li>
  <% end %>
</ol>