<div class="box">
  <%= form_for @course do |f| %>
    <% if @course.errors.any? %>
      <div id="error_explanation">
        <h3><%= @course.errors.full_messages.join(", ").downcase.capitalize %>.</h3>
      </div>
    <% end %>
    
    <%= f.label :name %><br />
    <%= f.text_field :name, size: "56" %><br />
    <div class="box-left">
      <%= f.label :description %><br />
      <%= f.text_area :description %><br /> 
    </div>
    <div class="box-right">
      <br />
      <%= f.fields_for :booking do |i| %>
        <%= i.label "Classroom" %><br />
        <%= i.collection_select(:classroom_id, Classroom.all, :id, :name) %>
        <br />
        <br />
        <%= i.label :start_date %><br />
        <%= i.date_select :start_date %><br />
        <br />
        <%= i.label :end_date %><br />
        <%= i.date_select :end_date %><br />
        <br />    
      <% end %>
      <table>
        <tr>
          Daily
        </tr>
        <tr>
          <td>
          <%= f.label :start_time %>
          </td>
          <td>
            <%= f.label :end_time %><br />
          </td>
        </tr>
        <tr>
          <td>
            <%= f.text_field :start_time, size: "15" %>
          </td>
          <td>
            <%= f.text_field :end_time, size: "15" %><br />
          </td>
        </tr>
      </table>
      <div class="box-bottom" >
        <%= f.submit "Submit" %>
      </div>
      <%= button_to "Back", courses_path, method: :get %>
    </div>
  <% end %>
</div>