<h2>Courses</h2>
  <%= search_form_for @q do |f| %>
    <%= f.label "Search" %>
    <%= f.text_field :name_cont, placeholder: " enter course name" %>
    <%= f.submit %><br /><br />
  <% end %>
<ul>
  <%= content_tag_for :li, @courses do |course| %>
    <%= link_to course.name, course_path(course) %> | 
    <%= course.enrollments.count %> | 
    <% if course.booking %>
      Start: <%= course.booking.start_date %> | 
      End: <%= course.booking.end_date %> | 
      Classroom: <%= course.booking.classroom.name %> | 
    <% end %>
    <% if can? :manage, Course %>
      <%= button_to "Edit", edit_course_path(course), method: :get %>
      <%= button_to "Delete", delete_course_path(course) %>
    <% end %>
  <% end %>
</ul>
<br />
<%= button_to "New Course", new_course_path, method: :get %>
