<h2>Courses</h2>
<ul>
  <%= content_tag_for :li, @courses do |course| %>
    <%= link_to course.name, course_path(course) %> | 
    <%= course.enrollments.count %> | 
    <% if course.booking %>
      Start: <%= course.booking.start_date %> | 
      End: <%= course.booking.end_date %> | 
      Classroom: <%= course.booking.classroom.name %>
    <% end %>
  <% end %>
</ul>
<br />
<%= button_to "New Course", new_course_path, method: :get %>
