<h2><%= @course.name %></h2>
<p>Description: <%= @course.description %></p>
<div class="box">
  <div class="box-left">
    <ul>
      <% if @course.booking %>
        <%= render 'booking' %>
      <% end %>
      <li>
        Start Time: <%= @course.start_time %>
      </li>
      <li>
        End Time: <%= @course.end_time %>
      </li>
    </ul>
    <div class="box-bottom" >
      <%= button_to "Edit", edit_course_path(@course), method: "get" %>
      <%= button_to "Delete", delete_course_path(@course) %>
    </div>
  </div>
  <div class="box-right">
    <p>Students | <%= @course.students.count %></p>
    <% if @course.students.any? %>
      <%= render 'enrollments' %>
    <% end %>
    <div class="box-bottom" >
      <%= button_to "Add Student", new_course_enrollment_path(@course), method: "get" %>
    </div>
  </div>
</div>
