<h2><%= @course.name %></h2>
<p>Description: <%= @course.description %></p>
<div class="box">
  <div class="box-left">
    <ul>
      <% if @course.booking %>
        <li> Classroom: <%= link_to @course.booking.classroom.name, classroom_path(@course.booking.classroom) %>
        </li>
        <li>
          Start Date: <%= @course.booking.start_date %>
        </li>
        <li>
          End Date: <%= @course.booking.end_date %>
        </li>
      <% end %>
      <li>
        Start Time: <%= @course.start_time %>
      </li>
      <li>
        End Time: <%= @course.end_time %>
      </li>
    </ul>
  </div>
  <div class="box-right">
    <p>Enrollments | <%= @course.enrollments.count %></p>
    <% if @course.enrollments.any? %>
      <ol>
      <% @course.enrollments.each do |student| %>
        <li>
          <ul>
            <li>
              Student: <%= link_to "#{student.first_name} #{student.last_name}", user_path(student) %>
            </li>
            <li>
              Username: <%= student.username %>
            </li>
            <li>
              Paid deposit? <%= student.paid_deposit ? "Yes" : "No" %>
            </li>
            <li>
              Completed the pre-work? <%= student.pre_work %>
            </li>
          </ul>
        </li>
      <% end %>
      </ol>
    <% end %>
  </div>
  <div class="box-bottom" >
    <%= button_to "Edit", edit_course_path(@course), method: "get" %>
    <%= button_to "Delete", delete_course_path(@course) %>
  </div>
</div>
