<div class="frame large">
  <h2>
    <%= @course.name %>
  </h2>
  <p>Description: <%= @course.description %></p>
</div>
<div class="frame medium">
  <ul>
    <% if @course.booking %>
      <%= render 'booking' %>
    <% end %>
    <li>
      Start Time: <%= @course.start_time %>
    </li>
    <li>
      End Time: <%= @course.end_time %>
    </li>
    <% if can? :manage, Course %>
      <br />
      <li>
        <%= button_to "Edit", edit_course_path(@course), method: :get %>
        <%= button_to "Delete", delete_course_path(@course) %>
      </li>
    <% end %>
    <br />
    <li>
      <%= button_to "Courses", courses_path, method: :get %>
    </li>
  </ul>
</div>
<div class="frame left instructors">
  <h4>Instructors | <%= @course.instructors.count %></h4>
  <% if @course.instructors.any? %>
    <%= render 'assignments' %>
  <% end %>
  <% if can? :manage, Assignment %>
    <%= button_to "Add Instructor", new_course_assignment_path(@course), method: :get %>
  <% end %>
</div>
<% if current_user %>
<div class="frame right students">
    <div class="students">
      <h4>Students | <%= @course.students.count %></h4>
      <% if @course.students.any? %>
        <%= render 'enrollments' %>
      <% end %>
      <% if can? :manage, Enrollment %>
        <%= button_to "Add Student", new_course_enrollment_path(@course), method: :get %>
      <% end %>
    </div>
  </div>
<% end %>
