<!DOCTYPE html>
<html>
<head>
  <title>GAilyApp</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="flash">
    <h2>
      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, :id => "flash_#{name}" %>
      <% end %>
    </h2>
  </div>

  <% if current_user %>
    <li>
      <%= link_to current_user.username, user_path(current_user) %> | 
      <%= link_to "Logout", session_path(0), method: :delete %>
    </li>
  <% else %>
    <li>
      <%= link_to "Login", new_session_path, class: active_menu_item(new_session_path) %> | 
      <%= link_to "Join", new_user_path, class: active_menu_item(new_user_path) %>
    </li>
  <% end %>

  <%= yield %>

</body>
</html>
